form.modENCODE_dbfields th { text-align: right; font-weight: normal; }
form.modENCODE_dbfields input { border: thin solid #AAAAAA; }
form.modENCODE_dbfields input.dbfields_input { width: 400px; }
form.modENCODE_dbfields select { border: thin solid #AAAAAA; width: 200px; }
form.modENCODE_dbfields textarea { border: thin solid #AAAAAA; width: 200px; }

form.modENCODE_dbfields div.formattedResult { float: none; }
form.modENCODE_dbfields div.formattedResult div.termName { }
form.modENCODE_dbfields div.formattedResult div.accession { float: right; }
form.modENCODE_dbfields div.formattedResult span.queryText { font-weight: bold; }

form.modENCODE_dbfields div.definition { position: absolute; float: right; border: thin double black; }
form.modENCODE_dbfields div.cvterm_url { display: inline; }
form.modENCODE_dbfields div.cvterm_url p { display: inline; }

form.modENCODE_dbfields div.required { display: inline;  font-size: 90%; color: #33AA33; }
form.modENCODE_dbfields div.missing { color: red; }
div.invalid { color: red; font-weight: bold; font-size: 120%; };
